/************
 * Partials *
 ************/
/**************
 * Typography *
 **************/
/**********
 * Colors *
 **********/
/***********
 * Modules *
 ***********/
/************
 * Partials *
 ************/
div.scores ul {
  padding: 20px 0;
  font-size: 25px;
  font-weight: bold;
  overflow: auto; }
  div.scores ul li {
    display: inline-block;
    margin: 0 10px;
    width: 90px;
    height: 90px;
    text-align: center;
    background-color: #fff;
    border-radius: 50%; }
    div.scores ul li > span {
      display: block; }
    div.scores ul li span.snake-number {
      margin-top: 20px;
      font-size: 11px; }
    div.scores ul li span.snake-score {
      font-size: 27px; }
  div.scores ul li.body-1 {
    color: #D83267; }
  div.scores ul li.body-2 {
    color: #A7CC7F; }
  div.scores ul li.body-3 {
    color: #0280AD; }
  div.scores ul li.body-4 {
    color: #F59F1A; }
  div.scores ul li.body-5 {
    color: #F46BA3; }

div.board {
  margin: auto;
  background: #fff;
  outline: none;
  overflow: hidden; }
  div.board div.body-0-cell, div.board div.body-1-cell, div.board div.body-2-cell, div.board div.body-3-cell, div.board div.body-4-cell, div.board div.food-cell, div.board div.null-cell {
    float: left;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    overflow: hidden; }
  div.board div.null-cell {
    background: #fff; }

div.board.game-over div.body-0-cell, div.board.game-over div.body-1-cell, div.board.game-over div.body-2-cell, div.board.game-over div.body-3-cell, div.board.game-over div.body-4-cell {
  background: #d04;
  border-color: #d04; }

div.snake-controls {
  position: absolute;
  top: 50%;
  margin-top: -25px;
  width: 100%;
  text-align: center; }
  div.snake-controls button {
    margin-top: -125px;
    width: 250px;
    height: 250px;
    background-color: #0280AD;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.75;
    outline: none;
    box-shadow: 1px 1px 1px #aaa; }
    div.snake-controls button h4.resume-game {
      font-size: 30px;
      color: #fff; }
    div.snake-controls button h3.winning-snake {
      font-size: 25px;
      color: #fff; }
    div.snake-controls button h4.winning-score {
      margin-top: 3px;
      font-size: 13px;
      color: #fff; }
    div.snake-controls button h6.new-game {
      margin-top: 30px;
      font-size: 15px;
      color: #ddd; }
  div.snake-controls button:hover {
    opacity: 1; }

div.body-0-cell {
  background: #D83267;
  border-color: #D83267; }

div.body-1-cell {
  background: #A7CC7F;
  border-color: #A7CC7F; }

div.body-2-cell {
  background: #0280AD;
  border-color: #0280AD; }

div.body-3-cell {
  background: #F59F1A;
  border-color: #F59F1A; }

div.body-4-cell {
  background: #F46BA3;
  border-color: #F46BA3; }

div.food-cell {
  background: #0b3;
  border-color: #0b3;
  border-radius: 50%; }

/***********
 * Globals *
 ***********/
html, body, div, span, h1, h2, h3, h4,
h5, h6, p, a, img, i, ol, ul, li, form,
label, table, caption {
  margin: 0;
  padding: 0; }

html, body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 1.4; }

body {
  background-color: #f5f5f5; }
  body div.snake-game {
    margin: 0 auto;
    text-align: center; }

/*# sourceMappingURL=main.css.map */
