$NUM_ROWS: 18; // 18
$NUM_COLS: 18; // 38
$LAST_ROW_START: (($NUM_ROWS - 1) * $NUM_COLS) + 1;


div.board {
	margin: auto;
	background: #fff;
	outline: none;
	overflow: hidden;

	div.body-1-cell, div.body-2-cell, div.body-3-cell, div.body-4-cell, div.body-5-cell, div.food-cell, div.null-cell {
		float: left;
		width: 30px;
		height: 30px;
		border: 1px solid #fff;
		border-style: solid solid none none;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		overflow: hidden;
	}
	div.null-cell {
		background: #fff;
		border-color: #eee;
	}
	div:nth-child(#{$NUM_COLS}n+1) {
		border-style: solid solid none solid;
	}
	div:nth-child(n+#{$LAST_ROW_START}) {
		border-style: solid solid solid none;
	}
	div:nth-child(#{$LAST_ROW_START}) {
		border-style: solid;
	}

}
div.board.game-over {

	div.body-1-cell, div.body-2-cell, div.body-3-cell, div.body-4-cell, div.body-5-cell {
		background: #d04;
		border-color: #d04;
	}
}