div.snake-controls {
	position: absolute;
	top: 50%;
	margin-top: -25px;
	width: 100%;
	text-align: center;

	button {
		margin-top: -125px;
		width: 250px;
		height: 250px;
		background-color: #0280AD;
		border: none;
		border-radius: 50%;
		cursor: pointer;
		opacity: 0.75;
		outline: none;
		box-shadow: 1px 1px 1px #aaa;

		h4.resume-game {
			font-size: 30px;
			color: #fff;
		}
 		h3.winning-snake {
 			font-size: 25px;
 			color: #fff;
 		}
 		h4.winning-score {
 			margin-top: 3px;
 			font-size: 13px;
 			color: #fff;
 		}
 		h6.new-game {
 			margin-top: 30px;
 			font-size: 15px;
 			color: #ddd;
 		}
	}
	button:hover {
		opacity: 1;
	}
}