div.scores {

	ul {
		padding: 20px 0;
		font-size: 25px;
		font-weight: bold;
		overflow: auto;

		li {
			display: inline-block;
			margin: 0 10px;
			width: 90px;
			height: 90px;
			text-align: center;
			background-color: #fff;
			border-radius: 50%;

			> span {
				display: block;
			}
			span.snake-number {
				margin-top: 20px;
				font-size: 11px;
			}
			span.snake-score {
				font-size: 27px;
			}
		}
		li.body-1 {
			color: $body-1;
		}
		li.body-2 {
			color: $body-2;
		}
		li.body-3 {
			color: $body-3;
		}
		li.body-4 {
			color: $body-4;
		}
		li.body-5 {
			color: $body-5;
		}
	}
}