div.body-0-cell {
	background: $body-1;
	border-color: $body-1;
}
div.body-1-cell {
	background: $body-2;
	border-color: $body-2;
}
div.body-2-cell {
	background: $body-3;
	border-color: $body-3;
}
div.body-3-cell {
	background: $body-4;
	border-color: $body-4;
}
div.body-4-cell {
	background: $body-5;
	border-color: $body-5;
}